# LightBot Machine Learning Service Notebook

In [1]:
from pymongo import MongoClient
from bson.objectid import ObjectId
import pandas as pd
import numpy as np

## Create mongo client and get users collection

In [2]:
client = MongoClient("mongodb://jandrewtorres:Andr3w135246@lightbot-shard-00-00-m9lrc.mongodb.net:27017,lightbot-shard-00-01-m9lrc.mongodb.net:27017,lightbot-shard-00-02-m9lrc.mongodb.net:27017/test?ssl=true&replicaSet=LightBot-shard-0&authSource=admin")
db = client.test
collection = db.users

## Get user document and user ActionHistory

In [14]:
doc = collection.find_one({"_id" : ObjectId("59fe6d473664e30004cb25fb")})
actionHistory = doc['actionHistory']

## Create pandas dataframe from user ActionHistory

In [15]:
df = pd.DataFrame.from_dict(actionHistory)
df

,_id,dayOfMonth,dayOfWeek,hour,intent,intentColor,minutes,month
0,59fe6dd986e9956e20572633,4,6,18,light_on,none,48,10
1,59fe6ddb86e9956e20572634,4,6,19,light_off,none,48,10
2,59fe6ddc86e9956e20572635,5,0,18,light_on,none,50,10
3,59fe6ddd86e9956e20572636,5,0,19,light_off,none,50,10
4,59fe6dde86e9956e20572637,6,1,18,light_on,none,30,10
5,59fe6dde86e9956e20572638,6,1,19,light_off,none,30,10
6,59fe6ddf86e9956e20572639,7,2,18,light_on,none,48,10
7,59fe6de086e9956e2057263a,7,2,19,light_off,none,48,10
8,59fe6de186e9956e2057263b,8,3,18,light_on,none,53,10
9,59fe6de286e9956e2057263c,8,3,19,light_off,none,53,10

In [16]:
intent_col = df['intent'].values
color_col = df['intentColor'].values

def intentToCategory(intent):
    if(intent == 'light_on'):
        return 1
    else:
        return 0

def colorToCategory(color):
    if(color == 'none'):
        return 0

new_intent_col = [intentToCategory(intent) for intent in intent_col]
new_color_col = [colorToCategory(color) for color in color_col]

df = df.drop(['intent', 'intentColor', '_id'], 1)

df['intent'] = pd.DataFrame(new_intent_col)
df['intentColor'] = pd.DataFrame(new_color_col)

df

   dayOfMonth  dayOfWeek  hour  minutes  month  intent  intentColor
0           4          6    18       48     10       1            0
1           4          6    19       48     10       0            0
2           5          0    18       50     10       1            0
3           5          0    19       50     10       0            0
4           6          1    18       30     10       1            0
5           6          1    19       30     10       0            0
6           7          2    18       48     10       1            0
7           7          2    19       48     10       0            0
8           8          3    18       53     10       1            0
9           8          3    19       53     10       0            0

In [6]:
x_col_names = ['intent', 'intentColor', 'dayOfMonth', 'dayOfWeek']
X = df[x_col_names]
X

   intent  intentColor  dayOfMonth  dayOfWeek
0       1            0           4          6
1       0            0           4          6
2       1            0           5          0
3       0            0           5          0
4       1            0           6          1
5       0            0           6          1
6       1            0           7          2
7       0            0           7          2
8       1            0           8          3
9       0            0           8          3

In [7]:
y_col_names = ['hour', 'minutes']
y = df[y_col_names] 
y

   hour  minutes
0    18       48
1    19       48
2    18       50
3    19       50
4    18       30
5    19       30
6    18       48
7    19       48
8    18       53
9    19       53

In [8]:
from sklearn.model_selection import train_test_split

Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, random_state=0)

In [9]:
Xtrain

   intent  intentColor  dayOfMonth  dayOfWeek
9       0            0           8          3
1       0            0           4          6
6       1            0           7          2
7       0            0           7          2
3       0            0           5          0
0       1            0           4          6
5       0            0           6          1

In [10]:
from sklearn.ensemble import Logistic Regression
model = RandomForestRegressor(max_features='log2', n_estimators=150)
model.fit(Xtrain, ytrain)
model.score(Xtest, ytest)

0.70242942430703614

In [11]:
ytestpred = model.predict(Xtest)
ytrainpred = model.predict(Xtrain)

In [12]:
print('Score: ', model.score(Xtest, ytest))
pd.DataFrame(ytrainpred)

Score:  0.702429424307

           0          1
0  18.953333  51.086667
1  18.866667  47.160000
2  18.260000  46.986667
3  18.880000  46.533333
4  18.966667  46.133333
5  18.226667  47.640000
6  18.986667  36.573333

In [13]:
pd.DataFrame(ytrain)

   hour  minutes
9    19       53
1    19       48
6    18       48
7    19       48
3    19       50
0    18       48
5    19       30

In [17]:
doc = collection.find_one({"_id" : ObjectId("59fe6d473664e30004cb25fb")})
actionHistory = doc['actionHistory']

In [24]:
df = pd.DataFrame(actionHistory)
df

,_id,dayOfMonth,dayOfWeek,hour,intent,intentColor,minutes,month
0,59fe6dd986e9956e20572633,4,6,18,light_on,none,48,10
1,59fe6ddb86e9956e20572634,4,6,19,light_off,none,48,10
2,59fe6ddc86e9956e20572635,5,0,18,light_on,none,50,10
3,59fe6ddd86e9956e20572636,5,0,19,light_off,none,50,10
4,59fe6dde86e9956e20572637,6,1,18,light_on,none,30,10
5,59fe6dde86e9956e20572638,6,1,19,light_off,none,30,10
6,59fe6ddf86e9956e20572639,7,2,18,light_on,none,48,10
7,59fe6de086e9956e2057263a,7,2,19,light_off,none,48,10
8,59fe6de186e9956e2057263b,8,3,18,light_on,none,53,10
9,59fe6de286e9956e2057263c,8,3,19,light_off,none,53,10

In [25]:
new_intent_col = [intentToCategory(intent) for intent in intent_col]
new_color_col = [colorToCategory(color) for color in color_col]

df = df.drop(['intent', 'intentColor', '_id'], 1)

df['intent'] = pd.DataFrame(new_intent_col)
df['intentColor'] = pd.DataFrame(new_color_col)

df

   dayOfMonth  dayOfWeek  hour  minutes  month  intent  intentColor
0           4          6    18       48     10       1            0
1           4          6    19       48     10       0            0
2           5          0    18       50     10       1            0
3           5          0    19       50     10       0            0
4           6          1    18       30     10       1            0
5           6          1    19       30     10       0            0
6           7          2    18       48     10       1            0
7           7          2    19       48     10       0            0
8           8          3    18       53     10       1            0
9           8          3    19       53     10       0            0

In [27]:
df = df.drop(['dayOfMonth', 'month'], 1)

In [28]:
df

   dayOfWeek  hour  minutes  intent  intentColor
0          6    18       48       1            0
1          6    19       48       0            0
2          0    18       50       1            0
3          0    19       50       0            0
4          1    18       30       1            0
5          1    19       30       0            0
6          2    18       48       1            0
7          2    19       48       0            0
8          3    18       53       1            0
9          3    19       53       0            0